@model SistemaControl.Models.CasoViewModel
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title" id="exampleModalLabel" style="text-align:center;">Crear Proceso</span>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div id="contenidoModal">
                @using (Html.BeginForm("CrearCaso", "CasoJudicial"))
                {
                @Html.AntiForgeryToken()

                <div class="form-horizontal" id="parent">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idCaso)

                    <div class="form-group">
                        @Html.LabelFor(model => model.idTipo, "Tipo de Caso:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("idTipo", null, "Seleccione una opción.", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idTipo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idPersona, "Persona:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("idPersona", null, "Seleccione una opción.", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idPersona, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idUsuario, "Abogado:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("idUsuario", null, "Seleccione una opción.", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.idEstado, "Estado del Caso:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("idEstado", null, "Seleccione una opción.", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.tipoLitigante, "Tipo de Litigante:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("tipoLitigante", null, "Seleccione una opción.", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.tipoLitigante, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="div_numeroCaso">
                        @Html.LabelFor(model => model.numeroCaso, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.numeroCaso, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.numeroCaso, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="materia">
                        @Html.LabelFor(model => model.materia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.materia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.materia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="descripciones">
                        @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2", placeholder = "Descripción breve del documento." })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.descripcion, 5, 62, new { @class = "form-control", @style = "resize: vertical;min-height: 100px;" })
                            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="observaciones">
                        @Html.LabelFor(model => model.observacion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.observacion, 10, 62, new { @class = "form-control", @style = "resize: vertical;min-height: 200px;" })
                            @Html.ValidationMessageFor(model => model.observacion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="CrearBoton" value="Crear proceso" class="btn btn-default" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $("#idTipo").change(function () {
        $("#idPersona").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTipoPersona")', // we are calling json method
            dataType: 'json',
            data: { id: $("#idTipo").val() },
            success: function (origins) {
                var another = origins.Data;
                console.log(another[0].Value);
                $.each(another, function (i, state) {
                    $("#idPersona").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                });
            },
            error: function (ex) {
                alert('Failed to retrieve states.' + ex);
            }
        });
        return false;
    });
    $("#idTipo").change(function () {
        if ($('#idTipo').val() == "19") {
            $('#numeroCaso').val('N.I.');
        } else {
            $('#numeroCaso').val('');
        }

    });

    //Maneja el campo del numero de caso
    $("#numeroCaso").keydown(function (e) {

        var reg = /((N.I.[0-9]{4}-\b20(1[8-9]|2[0-9]|3[0-9]|4[0-9]|5[0-9]|6[0-9])\b)|[0-9]{2}-[0-9]{6}-[0-9]{4}-[a-zñA-ZÑ]{1,12}(-[0-9]{1}|))$/;
        var numDoc = $('#numeroCaso').val();
        var regPrev = /N.I.[0-9]{4}/;
        var regPrev1 = /^[0-9]{2}$/;
        var regPrev2 = /^[0-9]{2}-[0-9]{6}$/;
        var regPrev3 = /^[0-9]{2}-[0-9]{6}-[0-9]{4}$/;
        var regPrev5 = /^[0-9]{2}-[0-9]{6}-[0-9]{4}-[a-zñA-ZÑ]{1,12}$/;
        var regPrev4 = /^$/;

        // var regPrev = /N.I.[0-9]{4}/;

        if ($('#idTipo').val() == "19") {
            if (regPrev4.test(numDoc)) {
                $('#numeroCaso').val('N.I.');
            }
            if (reg.test(numDoc)) {
                console.log('Entró.');
                if (e.key == 'Backspace') {
                    $('#numeroCaso').val(numDoc.slice(0, -6));
                    event.preventDefault();
                }
                else {
                    event.preventDefault();
                }

            }
            else {
                if (e.key != 1 && e.key != 2 && e.key != 3 && e.key != 4 && e.key != 5 && e.key != 6 && e.key != 7 && e.key != 8 && e.key != 9 && e.key != 0 && e.key != 'Backspace' && e.keyCode != 32) {
                    event.preventDefault();
                }
                else {

                    if ((e.key == 'Backspace' && $('#numeroCaso').val() == 'N.I.') || e.keyCode == 32) {
                        event.preventDefault();
                    }
                }
                if (regPrev.test(numDoc + e.key)) {

                    if (reg.test(numDoc + e.key)) {
                        console.log(1111);
                        event.preventDefault();
                    }
                    else {
                        $('#numeroCaso').val(numDoc + e.key + '-2019');
                        event.preventDefault();
                    }
                }
            }
        } else if ($('#idTipo').val() == "20") {
            if (reg.test(numDoc)) {
                if (e.key == 'Backspace') {
                    if (regPrev5.test(numDoc)) {
                        $('#numeroCaso').val(numDoc.slice(0, -4));
                    }
                    else {
                        $('#numeroCaso').val(numDoc.slice(0, -6));
                    }
                    event.preventDefault();
                }

            } else {
                if (regPrev1.test(numDoc + e.key)) {
                    $('#numeroCaso').val(numDoc + e.key + '-');
                    event.preventDefault();
                } else if (regPrev2.test(numDoc + e.key)) {
                    $('#numeroCaso').val(numDoc + e.key + '-');
                    event.preventDefault();
                } else if (regPrev3.test(numDoc + e.key)) {
                    $('#numeroCaso').val(numDoc + e.key + '-');
                    event.preventDefault();
                }
            }
        }
    });
</script>