@*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <meta name="description" content="Admin, Dashboard, Semantic-ui">
    <meta name="viewport" content="width=device-width" />

    <title>SISTEMA DE CONTROL JURIDICO</title>
    <link href="~/Content/dist1/semantic.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="~/Content/img/icon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Morris chart -->
    <link rel="stylesheet" href="bower_components/morris.js/morris.css">

    <style>
        .marginlefting {
            margin-left: 60px !important;
        }

        .displaynone {
            display: none !important;
        }

        .displayblock {
            display: block !important;
        }

        .sidebar .item i {
            font-size: 24px;
            margin-top: -5px !important;
        }

        .logo {
            height: 48px !important;
            padding: 10px !important;
        }

            .logo img {
                width: 15% !important;
                height: 38px !important;
            }

        .title.item {
            padding: .92857143em 1.14285714em !important;
        }

        .dropdown .menu .header {
            padding-top: 3.9px !important;
            padding-bottom: 3.9px !important;
        }
    </style>
</head>
<body>
    <div class="ui sidebar vertical left menu overlay visible" style="-webkit-transition-duration: 0.1s; overflow: visible !important;background:#233245;">
        <div class="item logo">
            <img style="display: block;margin: 0 auto; padding-bottom:10px;" src="~/Content/img/muni.gif" />
        </div>
        <div class="ui accordion" style="border:1px;font-size:15px;color:white;">
            <a class="item" href="~/Home/Index" >
                <span style="color:white;"><i class="fa fa-home"></i></span><b style="color:white;" ><text style="margin-left:1.4em"> Menú Principal</text></b>
            </a>
            <a class="title item" style="border:1px;font-size:14px;color:white;">
                <span><i class="fa fa-archive"></i></span>
                <text style="margin-left:1.3em"> Documentos</text>  <i class="dropdown icon"></i>
            </a>
            <div class="content">
                <a class="item" style="border:1px;font-size:14px;color:white;" href="~/Documento/Index">
                    <text style="margin-left:4em"> Entradas</text>
                </a>
                <a class="item" style="border:1px;font-size:14px;color:white;" href="/Documento/IndexSalidas">
                    <text style="margin-left:4em"> Salidas</text>
                </a>
                <a class="item" style="border:1px;font-size:14px;color:white;" href="/DocumentoExpediente/Index">
                    <text style="margin-left:4em"> Expedientes</text>
                </a>
            </div>

            <div class="title item" style="border:1px;font-size:14px;color:white;">
                <span><i class="fa fa-balance-scale"></i></span>    
                <i class="dropdown icon"></i><text style="margin-left:1em"> Procesos</text>
            </div>
            <div class="content" style="border:1px;font-size:14px;color:white;">
                <a class="item" style="border:1px;font-size:14px;color:white;" href="~/Caso/Index">
                    <text style="margin-left:4em"> Administrativos</text>
                </a>
                <a class="item" style="border:1px;font-size:14px;color:white;" href="/CasoJudicial/Index">
                    <text style="margin-left:4em"> Judiciales</text>
                </a>
            </div>
            <div class="title item" style="border:1px;font-size:14px;color:white;">
                <span><i class="fa fa-users"></i></span>
                    <i class="dropdown icon"></i> <text style="margin-left:1.3em"> Personas</text>
            </div>
            <div class="content" style="border:1px;font-size:14px;color:white;">
                <a class="item" style="color:white;font-size:14px; font-family:sans-serif" href="/PersonaFisica/Index">
                    <text style="margin-left:4em"> Fisicas</text>                    
                </a>
                <a class="item" style="color:white;font-size:14px; font-family:sans-serif" href="/PersonaJuridica/Index">
                    <text style="margin-left:4em"> Jurídicas</text>
                </a>
            </div>
            <div class="title item" style="border:1px;font-size:14px;color:white;">
                <span><i class="fa fa-question-circle"></i></span>
                <i class="dropdown icon"></i> <text style="margin-left:1.8em"> Ayuda</text>
            </div>
            <div class="content" style="color:white">
                <a class="item" href="accordion.html">
                    <text style="margin-left:4em">   Acerca de SCJ</text>
                </a>
                <a class="item" href="breadcrumb.html">
                    <text style="margin-left:4em"> Ayuda</text>
                </a>
            </div>
        </div>
        <div class="ui dropdown item displaynone">
            <z>Dashboard</z>
            <i class="icon demo-icon heart icon-heart"></i>

            <div class="menu">
                <div class="header">
                    Dashboard
                </div>
                <div class="ui divider"></div>
                <a class="item" href="dashboard.html">
                    Dashboard
                </a>
            </div>
        </div>
        <div class="ui dropdown item displaynone">
            <z>Layout</z>
            <i class="icon demo-icon world icon-globe"></i>

            <div class="menu">
                <div class="header">
                    Layout
                </div>
                <div class="ui divider"></div>
                <a class="item" href="inbox.html">
                    Inbox
                </a>
                <a class="item" href="mail.html">
                    Mailbox
                </a>
                <a class="item" href="chat.html">
                    Chat
                </a>
                <a class="item" href="contacts.html">
                    Contacts
                </a>
                <a class="item" href="photoeditor.html">
                    Photo Editor
                </a>
                <a class="item" href="calendar.html">
                    Calendar
                </a>
                <a class="item" href="filter.html">
                    Filter
                </a>
                <a class="item" href="todo.html">
                    Todo
                </a>
            </div>
        </div>
        <div class="ui dropdown item displaynone">
            <z>Pages</z>
            <i class="icon demo-icon  icon-params alarm"></i>

            <div class="menu">
                <div class="header">
                    Layouts
                </div>
                <div class="ui divider"></div>
                <a class="item" href="sidebar.html">
                    Sidebar
                </a>
                <a class="item" href="menu.html">
                    Nav
                </a>
                <a class="item" href="animatedicon.html">
                    Animated Icon
                </a>
                <a class="item" href="box.html">
                    Box
                </a>
                <a class="item" href="cards.html">
                    Cards
                </a>
                <a class="item" href="color.html">
                    Colors
                </a>
                <a class="item" href="comment.html">
                    Comment
                </a>
                <a class="item" href="embed.html">
                    Embed
                </a>
                <a class="item" href="faq.html">
                    Faq
                </a>
                <a class="item" href="feed.html">
                    Feed
                </a>
                <a class="item" href="gallery.html">
                    Gallery
                </a>
                <a class="item" href="grid.html">
                    Grid
                </a>
                <a class="item" href="header.html">
                    Header
                </a>
                <a class="item" href="timeline.html">
                    Timeline
                </a>
                <a class="item" href="message.html">
                    Message
                </a>
                <a class="item" href="price.html">
                    Price
                </a>
            </div>
        </div>
    </div>
    <div class="pusher">
        <div class="ui menu asd borderless" style="background:#233245;font-size:14px;border-radius: 0!important; border: 0; margin-left: 200px; -webkit-transition-duration: 0.1s;">
            <div class="right menu">
                @Html.Partial("_LoginPartial");
            </div>
        </div>
    </div>

    <script src="~/Content/js/jquery-3.1.0.js"></script>
    <script src="~/Content/dist1/semantic.min.js"></script>
    <script>
        $(".openbtn").on("click", function () {
            $(".ui.sidebar").toggleClass("very thin icon");
            $(".asd").toggleClass("marginlefting");
            $(".sidebar z").toggleClass("displaynone");
            $(".ui.accordion").toggleClass("displaynone");
            $(".ui.dropdown.item.displaynone").toggleClass("displayblock");

            $(".logo").find('img').toggle();

        })
        $(".ui.dropdown").dropdown({
            allowCategorySelection: true,
            transition: "fade up",
            context: 'sidebar',
            on: "hover"
        });

        $('.ui.accordion').accordion({
            selector: {
            }
        });
    </script>
    <div class="main-content">
        @RenderBody()
    </div>
    <style>

    </style>
</body>

</html> *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCJ</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/wwwroot/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/wwwroot/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Content/wwwroot/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/wwwroot/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/wwwroot/dist/css/skins/skin-blue.min.css">
    <link href="~/Content/wwwroot/bower_components/morris.js/morris.css">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/Home/Index" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>SCJ</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg" ><b>Sistema de Control Jurídico</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation" style="background: #233245;">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
     @Html.Partial("_LoginPartial")
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">

        <div class="pull-left image" >
                <img src="~/Content/img/muni.gif" class="img-circle" alt="User Image">
        </div>

        <div class="pull-left info">
          <p>Servicios Jurídicos</p>
          @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
        </div>

      </div>
      <!-- search form (Optional) -->
      @*<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>*@
      <!-- /.search form -->
      <!-- Sidebar Menu -->
      @Html.Partial("_MainMenu")
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @RenderBody()
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="https://codinginfinite.com">CodingInfinite</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 3 -->
<script src="~/Content/wwwroot/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Content/wwwroot/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/wwwroot/dist/js/adminlte.min.js"></script>
</body>
</html>