@model PagedList.IPagedList<BackEnd.Model.Documento>
@using PagedList.Mvc;
@{
    ViewBag.Title = "IndexReferencias";
}
<div class="title">Referencias</div>
<div class="container" style="margin-top:20px">

    @if (Model.IsFirstPage)
    {
        <h3>@(Model.First().numeroDocumento)</h3>
    }
    else
    {
        <h3>@(Model.First().numeroDocumento)</h3>
    }
    <table class="table table-bordered" id="table_documentos">
        <tr>
            <th>
                Número de oficio
            </th>
            <th>
                Fecha
            </th>
            <th>
                Tipo de origen
            </th>
            <th>
                Origen
            </th>

            <th>
                Estado
            </th>
        </tr>
        @if (Model.Count() == 1)
        {
            <tr><td align="center" colspan="7">El registro no tiene referencias.</td></tr>
        }
        else
        {
            foreach (var item in Model)
            {
                if (item != Model.First())
                {
                    <tr>
                        <td style="display:none;">
                            @Html.DisplayFor(modelItem => item.idDocumento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.numeroDocumento)
                        </td>
                        <td>
                            @Html.ValueFor(modelItem => item.fecha, "{0:dd/MM/yyyy}")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TablaGeneral3.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TablaGeneral1.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TablaGeneral.descripcion)
                        </td>
                    </tr>
                }
            }
        }
    </table>
    <div class="col-md-12">
        <div class="col-md-6" style="text-align:left">
            <a href="Index" style="text-align:left">Volver</a>
        </div>
        <div class="col-md-6" style="text-align:right">
            <a href="~/Documento/ReportesReferencias" style="text-align:right">Reporte</a>
        </div>
    </div>
    <br />

    @Html.PagedListPager(Model, page => Url.Action("IndexReferencias", new { page, pageSize = Model.PageSize, id = ViewBag.id, pageReferencias = ViewBag.pageReferencias }))
    <br />
</div>

<div id="editarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editarModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>
<div id="responderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="responderModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>
<div id="detalleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detalleModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>

<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li>
            <a tabindex="-1" href="#" onclick="Details(getInd())" data-value="getInd()" data-toggle="modal" data-target="#detalleModal">Ver detalles</a>
        </li>
        <li class="divider"></li>
        <li>
            <a tabindex="-1" href="#" onclick="Reply(getInd())" data-value="getInd()" data-toggle="modal" data-target="#responderModal">Responder</a>
        </li>
        <li>
            <a tabindex="-1" href="#" onclick="Edit(getInd())" data-value="getInd()" data-toggle="modal" data-target="#editarModal">Editar</a>
        </li>
        <li>
            <a tabindex="-1" href="#">Eliminar</a>
        </li>
    </ul>
</div>
<style>
    #contextMenu {
        position: absolute;
        display: none;
        z-index: 1000;
    }

    .wrap {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    table {
        border: 1px solid rgba(221, 221, 221, 1);
    }

    tr:nth-child(even) {
        background: #F5F5F5
    }

    tr {
        position: relative;
    }

        tr:hover {
            background: #c9e8f7;
            position: relative;
        }
</style>


<script>
    $('#crearModal').on('hidden', function () {
        debugger;
        alert('sssss');
        $(this).data('modal', null);
    });

    $("#crearModal").on('hidden.bs.modal', function () {
        debugger;
        $(this).data('bs.modal', null);
    });

    var ind = 0;
    $(this).mousedown(function (e) {
        if (e.which == 2) {
            alert('jaja');
            var rows = $('tr', table_documentos);
            ind = rows.eq($(this).index()).find("td:first").text();
            console(ind);
            return rows.eq($(this).index()).find("td:first").text();
        }
    });
    $('#table_documentos').click(function () {
        $(this).addClass('highlight').siblings().removeClass('highlight');
        //do your stuff, you can use $(this) to get current cell
    });

    $('#table_documentos').find('tr').click(function (e) {
        var rows = $('tr', table_documentos);
        ind = rows.eq($(this).index()).find("td:first").text();

        return rows.eq($(this).index()).find("td:first").text();
    });
    $vars = 0;
    $(function () {
        var $contextMenu = $("#contextMenu");
        $("body").on("contextmenu", "table tr", function (e) {
            var rows = $('tr', table_documentos);
            ind = rows.eq($(this).index()).find("td:first").text();
            ind = ind.replace(/ /g, "");
            ind = ind.replace(/\s+/g, "");
            console.log(ind);
            $vars = ind;
            $contextMenu.css({
                display: "block",
                left: e.pageX,
                top: e.pageY
            });
            return false;
        });
        $('html').click(function () {
            $contextMenu.hide();
        });
    });
    function getInd() {
        console.log($vars);
        return $vars;
    };


    $("#crearModal").scroll(function () {

        $("#fecha").click(function () {
            if ($('#fecha').blur()) {
                $("#ui-datepicker-div").show();
            }
        });

        $("#ui-datepicker-div").hide();
    });

    function Edit(iddocumento) {
        var url = '@Url.Action("Editar")';
        var myId = iddocumento;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': iddocumento
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#editarModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
        function Details(iddocumento) {
        var url = '@Url.Action("Detalles")';
        var myId = iddocumento;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': iddocumento
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#detalleModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
    function Reply(iddocumento) {
        var url = '@Url.Action("Responder")';
        var myId = iddocumento;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': iddocumento
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#responderModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $('#detalleModal').modal('dispose');
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>
