@model PagedList.IPagedList<BackEnd.Model.Documento>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link type="text/css" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    @*SCRIPT PARA EL EDITOR DE TEXTO*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<script src="~/Content/ckeditor2/ckeditor.js"></script>*@
    <script src="~/Content/js/site.js"></script>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

    @*<script src="~/Content/js/site.js"></script>
        <link href="~/Content/css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

</head>
<div class="title">Expedientes</div>
<div class="container" style="margin-top:20px">
    @using (Html.BeginForm("Index", "DocumentoExpediente", FormMethod.Get))
    {
        @*<div>
                @Html.TextBox("search") <input type="submit" name="submit" value="Buscar" />
            </div>
            <div>
                <b> Opciones de busqueda: </b>
                @Html.RadioButton("option", "Número de documento") <text>Número de expediente</text>
                @Html.RadioButton("option", "Numero de Ingreso") <text> Numero de Ingreso </text>
                @Html.RadioButton("option", "Asunto") <text>Asunto</text>
                @Html.RadioButton("option", "Fecha") <text>Fecha </text>

            </div>*@
        <div class="widget" style="height:100px;">
            <div class="title">

                <span class="form-inline">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    @Html.TextBox("search", "", new { @class = "classname", autocomplete = "off" }) <input type="submit" name="submit" value="Buscar" style="color:black; font-size:14px;" />
                </span>

                <div style="color:black; font-size:14px;">
                    <b> Opciones de busqueda: </b>
                    @Html.RadioButton("option", "Número de Expediente") <text> Número de Expediente </text>
                    @Html.RadioButton("option", "Número de Ingreso") <text> Número de Ingreso </text>
                    @Html.RadioButton("option", "Ubicación") <text>Ubicación</text>
                    @Html.RadioButton("option", "Fecha") <text>Fecha </text>

                </div>
            </div>
        </div>
    }

    <table class="table table-bordered" id="table_documentos">
        <tr class="trfirst">
            <th>Número de expediente</th>
            <th>Número de Ingreso</th>
            <th>Fecha</th>
            <th>Asunto</th>
            <th>Ubicacion</th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr><td align="center" colspan="7">No hay registros que coincidan con la busqueda.</td></tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="display:none;">
                        @Html.DisplayFor(modelItem => item.idDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numeroIngreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha, "{0:dd/MM/yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.asunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ubicacion)
                    </td>

                </tr>
            }
        }
    </table>
    <div>
        <a href="#" onclick="Crear()" class="btnEdit" data-toggle="modal" data-target="#crearModal" id="btnEdit">Crear documento</a>
    </div>
    <br />

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    @*Mostrando @Model.FirstItemOnPage de @Model.LastItemOnPage de @Model.TotalItemCount documentos*@

</div>

<div id="editarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editarModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>
<div id="crearModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="crearModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>
<div id="responderModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="responderModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>
<div id="detalleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detalleModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>
<div id="referenciaModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="referenciaModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
</div>


<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
        <li>
            <a tabindex="-1" href="#" onclick="Details(getInd())" data-value="getInd()" data-toggle="modal" data-target="#detalleModal">Ver detalles</a>
        </li>
        <li class="divider"></li>
        <li>
            <a tabindex="-1" href="#" onclick="Edit(getInd())" data-value="getInd()" data-toggle="modal" data-target="#editarModal">Editar</a>
        </li>
        @*<li>
            <a tabindex="-1" href="#" onclick="Reference()" data-toggle="modal" data-target="#referenciaModal">Ver referencias</a>
        </li>*@
        <li>
            <a tabindex="-1" href="#">Eliminar</a>
        </li>
    </ul>
</div>
<style>
    #contextMenu {
        position: absolute;
        display: none;
        background: lightblue;
        z-index: 1000;
    }

    .wrap {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    table {
        border: 1px solid rgba(221, 221, 221, 1);
    }

    tr:nth-child(even) {
        background: #F5F5F5
    }

    tr {
        position: relative;
    }

        tr:hover {
            background: #c9e8f7;
            position: relative;
        }
</style>


<script>
    $('#crearModal').on('hidden', function () {
        $(this).data('modal', null);
    });

    $("#crearModal").on('hidden.bs.modal', function () {
        $(this).data('bs.modal', null);
    });

    var ind = 0;
    $(this).mousedown(function (e) {
        if (e.which == 2) {
            var rows = $('tr', table_documentos);
            ind = rows.eq($(this).index()).find("td:first").text();
            console(ind);
            return rows.eq($(this).index()).find("td:first").text();
        }
    });
    $('#table_documentos').click(function () {
        $(this).addClass('highlight').siblings().removeClass('highlight');
        //do your stuff, you can use $(this) to get current cell
    });

    $('#table_documentos').find('tr').click(function (e) {
        var rows = $('tr', table_documentos);
        ind = rows.eq($(this).index()).find("td:first").text();

        return rows.eq($(this).index()).find("td:first").text();
    });
    $vars = 0;
    $(function () {
        var $contextMenu = $("#contextMenu");
        $("body").on("contextmenu", "table tr", function (e) {
            var rows = $('tr', table_documentos);
            ind = rows.eq($(this).index()).find("td:first").text();
            ind = ind.replace(/ /g, "");
            ind = ind.replace(/\s+/g, "");
            console.log(ind);
            $vars = ind;
            $contextMenu.css({
                display: "block",
                left: e.pageX,
                top: e.pageY
            });
            return false;
        });
        $('html').click(function () {
            $contextMenu.hide();
        });
    });
    function getInd() {
        console.log($vars);
        return $vars;
    };


    $("#crearModal").scroll(function () {

        $("#fecha").click(function () {
            if ($('#fecha').blur()) {
                $("#ui-datepicker-div").show();
            }
        });

        $("#ui-datepicker-div").hide();
    });
    function Crear() {
        var url = '@Url.Action("Crear")';

        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#crearModal").html(data);
            },
            error: function (xhr) {
                alert('Error a la hora de abrir el modal.');
            }
        });
    }

    function Edit(iddocumento) {
        var url = '@Url.Action("Editar")';
        var myId = iddocumento;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': iddocumento
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#editarModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
        function Details(iddocumento) {
        var url = '@Url.Action("Detalles")';
        var myId = iddocumento;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': iddocumento
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#detalleModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
    function Reply(iddocumento) {
        var url = '@Url.Action("Responder")';
        var myId = iddocumento;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': iddocumento
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#responderModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
    function Reference() {
    var url = '@Url.Action("Referencias")';
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#responderModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }
    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $('#detalleModal').modal('dispose');
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>