@model PagedList.IPagedList<BackEnd.Model.Caso>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<!doctype html>
<html lang="es">
<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="https://cdn.ckeditor.com/4.11.4/standard-all/ckeditor.js"></script>

    @*
        MessageToast
    *@
    <script src="~/Content/Toast/toastr.js"></script>
    <link href="~/Content/Toast/toastr.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="~/Content/Toast/toastrsample.js"></script>

</head>
<body>
    <div class="title">Proceso Administrativo</div>
    <div class="container" style="margin-top:20px">
        @using (Html.BeginForm("Index", "Caso", FormMethod.Get))
        {
            <div class="widget" style="height:100px;">
                <div class="title">
                    <span class="form-inline">
                        @{ List<SelectListItem> searchListItem = new List<SelectListItem>();
                            searchListItem.Add(new SelectListItem { Text = "Número de proceso", Value = "Número de proceso" });
                            searchListItem.Add(new SelectListItem { Text = "Abogado", Value = "1" });
                            searchListItem.Add(new SelectListItem { Text = "Persona", Value = "2" });
                            searchListItem.Add(new SelectListItem { Text = "Estado", Value = "3" });
                        }
                        @Html.DropDownList("sOption", new SelectList(searchListItem, "Value", "Text"), "Opciones de Búsqueda", htmlAttributes: new { @class = "form-control", @style = "width:205px;", @onchange = "Limpiar()", @id = "dropList" })
                        @Html.TextBox("sSearch", "", new { @class = "form-control", autocomplete = "off" })
                        <button type="submit" class="btn btn-default" style="color:black; font-size:14px;">
                            <i class="fa fa-search" aria-hidden="true"></i> Buscar
                        </button>
                    </span>
                </div>
            </div>
        }

        <table class="table table-bordered" id="table_casos">
            <tr>
                <th>
                    Número de Proceso
                </th>
                <th>Abogado</th>
                <th>Materia</th>
                <th>Persona</th>
                <th>Tipo de Proceso</th>
                <th>Tipo de Litigio</th>
                <th>Estado</th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td align="center" colspan="8">No se encontraron coincidencias</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="display:none;">
                            @Html.DisplayFor(modelItem => item.idCaso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.numeroCaso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.materia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Persona.nombreCompleto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TablaGeneral1.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TablaGeneral2.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TablaGeneral.descripcion)
                        </td>
                    </tr>
                }
            }
        </table>
        <div>
            <a href="#" id="btnEdit" class="btnEdit" onclick="Crear()" data-toggle="modal" data-target="#crearModal">Crear proceso</a>
        </div>
        <br />
        @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))*@
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize, sSearch = ViewBag.search, sOption = ViewBag.option, dropList = ViewBag.selectOptions }))

        <div class="modal fade" id="modalArchivar">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h3 class="modal-title">Archivar Proceso</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Esta seguro que desea archivar este proceso? </h4>

                        @*<div style="text-align:center;display:none" id="loaderDiv">
                                <img src="~/Content/InternetSlowdown_Day.gif" width="150" />
                            </div>*@

                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                        <a href="#" class="btn btn-default" onclick="Archivar()">Confirmar</a>
                    </div>

                </div>

            </div>

        </div>


        @*hidden field for storing current employeeId*@
        <input type="hidden" id="idProceso" />

    </div>

    <div id="editarModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editarModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
    </div>
    <div id="crearModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="crearModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
    </div>
    <div id="detalleModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detalleModal" aria-hidden="true" style="position: fixed" data-keyboard="false" data-backdrop="static">
    </div>

    <div id="contextMenu" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
            <li>
                <a tabindex="-1" href="#" onclick="Details(getInd())" data-value="getInd()" data-toggle="modal" data-target="#detalleModal">Ver detalles</a>
            </li>
            <li class="divider"></li>
            <li>
                <a tabindex="-1" href="#" onclick="Edit(getInd())" data-value="getInd()" data-toggle="modal" data-target="#editarModal">Editar</a>
            </li>
            <li>
                <a href="#" onclick="Confirmar(getInd())">Archivar</a>
            </li>
        </ul>
    </div>
    <style>
        #contextMenu {
            position: absolute;
            display: none;
            background: lightblue;
            z-index: 1000;
        }

        .wrap {
            width: 90%;
            display: block;
            margin: 0 auto;
        }

        table {
            border: 1px solid rgba(221, 221, 221, 1);
        }

        tr:nth-child(even) {
            background: #F5F5F5
        }

        tr {
            position: relative;
        }

            tr:hover {
                background: #c9e8f7;
                position: relative;
            }
    </style>

    <script>
        $(document).ready(function () {
        $('#dropLists').hide();

        });



    var ind = 0;
    $(this).mousedown(function (e) {
        if (e.which == 2) {
            var rows = $('tr', table_casos);
            ind = rows.eq($(this).index()).find("td:first").text();
            console(ind);
            return rows.eq($(this).index()).find("td:first").text();
        }
    });
    $('#table_casos').click(function () {
        $(this).addClass('highlight').siblings().removeClass('highlight');
        //do your stuff, you can use $(this) to get current cell
    });

    $('#table_casos').find('tr').click(function (e) {
        var rows = $('tr', table_casos);
        ind = rows.eq($(this).index()).find("td:first").text();

        return rows.eq($(this).index()).find("td:first").text();
    });
    $vars = 0;
    $(function () {
        var $contextMenu = $("#contextMenu");
        $("body").on("contextmenu", "table tr", function (e) {
            var rows = $('tr', table_casos);
            ind = rows.eq($(this).index()).find("td:first").text();
            ind = ind.replace(/ /g, "");
            ind = ind.replace(/\s+/g, "");
            console.log(ind);
            $vars = ind;
            $contextMenu.css({
                display: "block",
                left: e.pageX,
                top: e.pageY
            });
            return false;
        });
        $('html').click(function () {
            $contextMenu.hide();
        });
    });
    function getInd() {
        console.log($vars);
        return $vars;
    };

    function Limpiar() {
        $('#search').val("")
    }

    function Crear() {
        var url = '@Url.Action("Crear")';
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#crearModal").html(data);
            },
            error: function (xhr) {
                alert('Error a la hora de abrir el modal.');
            }
        });
<<<<<<< HEAD
        }
        $("#dropList").change(function () {




            if ($('#dropList').val() === "Número de proceso") {

                $('#dropLists').hide(200);
                $('#sSearch').show(200);
            }
            else {
                $('#dropLists').show(200);
                $('#sSearch').hide(200);
            }
            var selects = document.getElementById("dropList");
            var selectedValue = selects.options[selects.selectedIndex].value;

            $("#dropLists").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSearch")',
                dataType: 'json',
                data: { id: selectedValue },
                success: function (origins) {
                    var another = origins.Data;
                    $("#dropLists").append('<option value="">Seleccione una opción.</option>');
                    $.each(another, function (i, state) {
                        $("#dropLists").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Seleccione una opción válida.' + ex);
                }
            }
            );
            return false;
        



        });
=======
    }

    function Details(idcaso) {
        var url = '@Url.Action("Detalles")';
        var myId = idcaso;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': idcaso
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {
                $("#detalleModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

>>>>>>> 0ad7c9b2b335e6f09b63d71912c1024b1c4afa62
    function Edit(idcaso) {
        var url = '@Url.Action("Editar")';
        var myId = idcaso;
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': idcaso
            },
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function (data) {

                $("#editarModal").html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

        var Confirmar = function (idcaso) {

        $("#idProceso").val(idcaso);
        $('#modalArchivar').modal('show');
       // $("#myModal").show();// show();//('show');

    }

    var Archivar = function () {
        var url = '@Url.Action("Archivar")';
        var myId = $("#idProceso").val();
        $.ajax({
            url: url,
            datatype: "json",
            type: "post",
            data: {
                'id': myId
            },
            success: function (result) {
                //$("#loaderDiv").hide();
                $("#modalArchivar").modal("hide");
                location.reload();

            }

        })

    }

    </script>
    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
</body>
</html>